<div class="container">
    <section id="nav_abas">
        <div class="gray_back">
            <div class="uk-container uk-container-center"> <iframe src="http://detalhes.tradeadvisor.com.br/ncm/Consulta?descricao=@Request["descricao"]&ncm=@Request["ncm"]" width="100%" height="800px"></iframe></div>
        </div>
    </section>

</div>