@model TradeAdvisor.Models.AccountLoginModel
@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<section id="topo">
    <div class="banner_principal uk-width-1-1" data-uk-parallax="{bg: '-200'}">
        <div class="uk-container uk-container-center">

            <div class="mensagem_banner uk-width-medium-3-5 uk-container-center">
                <a class="uk-display-block uk-width-4-5 uk-container-center uk-visible-small" href="/">
                    <img width="100%" class="uk-margin-remove" src="~/images/logo.svg" title="Tradeadvisor" alt="Tradeadvisor">
                </a>

                <h2 class="titulo_banner">
                    Login
                </h2>

                <form @Url.Action("login", "account") method="POST" id="login-form">
                    @Html.AntiForgeryToken()

                    @Html.HiddenFor(m => m.ReturnUrl)

                    <div class="col-xs-12 padding_zero">
                        <input class="input_style col-xs-12" id="email" type="email" name="email" placeholder="Email">
                    </div>

                    <div class="col-xs-12 padding_zero">
                        <input class="input_style col-xs-12" id="senha" type="password" name="senha" placeholder="Senha">
                    </div>
                    <div class="col-xs-12 padding_zero">
                        <a class="text_white" href="@Url.Action("Cadastrar","Account")">Criar uma conta</a>
                    </div>
                    <div class="col-xs-12 padding_zero">
                        <button class="btn botao_padrao" type="submit">
                            Logar
                        </button>
                    </div>
                </form>

                <a href="#exemplos" data-uk-smooth-scroll="{offset:60}" class="descer">
                    <span>Exemplos</span>
                    <i class="uk-icon-angle-double-down uk-icon-medium"></i>
                </a>
            </div>

        </div>
    </div>
</section>