<head profile="http://gmpg.org/xfn/11">
    <title>
        Tradeadvisor
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />

    <link rel="stylesheet" href="~/css/uikit.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/components/slideshow.css" />
    <link rel="stylesheet" href="~/css/components/dotnav.css" />
    <link rel="stylesheet" href="~/css/components/slidenav.css" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/font-awesome.css" />
    

    <script src="~/jquery/jquery.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="~/js/jquery-1.11.3.min.js"></script>

    <script src="~/js/uikit.min.js"></script>
    <script src="~/js/components/parallax.js"></script>
    <script src="~/js/components/slideshow.js"></script>
    <script src="~/js/components/slideshow-fx.js"></script>
    <script src="~/js/components/sticky.js"></script>
    <script src="~/js/components/slideset.js"></script>
    <script src="~/js/components/accordion.js"></script>
    <script src="~/js/components/accordion.js"></script>
    <script src="~/js/components/datepicker.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">



    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="~/js/components/slideshow.js"></script>
    <script src="~/js/components/slideshow-fx.js"></script>
    <script src="~/js/components/sticky.js"></script>
    <script src="~/js/components/slideset.js"></script>
    <script src="~/js/components/accordion.js"></script>
    <script src="~/js/components/accordion.js"></script>
    <script src="~/js/components/datepicker.js"></script>


    <!--gráficos-->
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/heatmap.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script src="http://code.highcharts.com/modules/treemap.js"></script>

    <!-- #GOOGLE FONT -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

    <script type="text/javascript" src="~/js/plugin/morris/raphael.min.js"></script>
    <script type="text/javascript" src="~/js/plugin/morris/morris.min.js"></script>
    <script type="text/javascript" src="~/js/plugin/morris/morris-chart-settings.min.js"></script>


</head>