<header class="topo_site dark_blue uk-width-1-1">

    <!--header normal-->

    <nav>
        <div class="uk-container uk-container-center">
            <a class="uk-navbar-brand logo_box" href="/">
                <img width="100%" class="uk-margin-remove" src="~/images/logo.svg" title="Tradeadvisor" alt="Tradeadvisor">
            </a>

            <div class="busca_topo uk-hidden-small uk-width-medium-6-10">
                <form class="uk-form" action="@Url.Action("ResumoInicialNcm", "Ncm")">
                    <div class="uk-grid uk-grid-collapse">
                        <div class="uk-width-5-6 uk-width-medium-9-10">
                            <input class="input_busca uk-width-1-1" type="text" placeholder="Pesquisa" name="descricao_detalhada_produto" value="@Request["descricao_detalhada_produto"]">
                        </div>
                        <div class="uk-width-1-6 uk-width-medium-1-10">
                            <button class="button_busca uk-width-1-1"><i class="uk-icon-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="uk-navbar-nav menu_top">
                <ul class="menu_links">
                    <li>
                        <a class="uk-button" href="#"> <i class="uk-icon-user btn_icon"></i> <span class="uk-hidden-small">Entrar</span></a>
                    </li>
                </ul>

            </div>

            <div class="busca_topo uk-visible-small uk-width-medium-1-1">
                <form class="uk-form">
                    <div class="uk-grid uk-grid-collapse">
                        <div class="uk-width-5-6 uk-width-medium-9-10">
                            <input class="input_busca uk-width-1-1" type="text" placeholder="Pesquisa">
                        </div>
                        <div class="uk-width-1-6 uk-width-medium-1-10">
                            <button class="button_busca uk-width-1-1"><i class="uk-icon-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </nav>
</header>