<head profile="http://gmpg.org/xfn/11">
    <title>
        Tradeadvisor
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />

    <link rel="stylesheet" href="~/css/uikit.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/components/slideshow.css" />
    <link rel="stylesheet" href="~/css/components/dotnav.css" />
    <link rel="stylesheet" href="~/css/components/slidenav.css" />

    <script src="~/jquery/jquery.min.js"></script>
    <script src="~/js/uikit.min.js"></script>
    <script src="~/js/components/parallax.js"></script>
    <script src="~/js/components/slideshow.js"></script>
    <script src="~/js/components/slideshow-fx.js"></script>
</head>