<header class="topo_site dark_blue uk-width-1-1">
    <!--header normal-->
    <nav>
        <div class="uk-container uk-container-center">
            <a class="uk-navbar-brand logo_box uk-hidden-small" href="/">
                <img width="100%" class="uk-margin-remove" src="~/images/logo.svg" title="Tradeadvisor" alt="Tradeadvisor">
            </a>

            <div class="uk-navbar-nav menu_top">
                <ul class="menu_links">
                    <li>
                        <a class="uk-button" href="#"> <i class="uk-icon-user btn_icon"></i> Entrar</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</header>
