@model List<TradeAdvisor.Models.NcmDAO.ResumoConsultaDetalhada>
<div class="col-xs-12 alert block_default alert-dismissible" role="alert">
    <h4 class="col-xs-12">
        <strong>Resumo da consulta:</strong>
    </h4>

    <div class="col-xs-7">
        <h4>Número de resultados</h4>
        <h4>
            <strong>
                @Model.First().countReg
            </strong>
        </h4>
    </div>

    <div class="col-xs-5">
        <h4>Total CIF</h4>
        <h4>
            <strong>
                $@String.Format("{0:0,0.00}", @Model.First().vl_ift)
            </strong>
        </h4>
    </div>
</div>