@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="col-xs-10 col-md-4 col-xs-offset-1 col-md-offset-4 logo_center">
    <img src="~/img/logo_tradeadvisor_white.svg" width="100%">
</div>
<!-- input: search field -->
<div class="col-xs-12 col-md-8 col-md-offset-2">
    <form action="@Url.Action("ResumoConsulta", "Ncm")" method="POST">
        <span class="search_box">
            <input class="input_style col-xs-12" id="search-fld" type="text" name="descricao_detalhada_produto" placeholder="Faça sua pesquisa">
            <button type="submit">
                <i class="fa fa-search"></i>
            </button>
        </span>
        <!--<a href="javascript:void(0);" id="cancel-search-js" title="Cancel Search"><i class="fa fa-times"></i></a>-->
        @Html.ValidationSummary(true)
    </form>
</div>
